<div class="nav-side-menu">
  <div class="brand">The Cinco Hotels</div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

  <div class="menu-list">

    <ul id="menu-content" class="menu-content collapse out">
      <!-- <li>
        <a routerLink="/login">
          <i class="fa fa-user fa-lg"></i>
          SuperAdmin
        </a>
      </li> -->

      <li data-toggle="collapse" data-target="#dash-board" class="collapsed">
        <a routerLink="/dash-board"><i class="fa fa-dashboard fa-lg"></i>DashBoard </a>
      </li>
      <li data-toggle="collapse" data-target="#customers" class="collapsed">
        <a routerLink="/roles-permissions">

          <i class="fa-regular fa-door-open"></i>
          Role Management</a>
      </li>

      <!-- <li  data-toggle="collapse" data-target="#branches" class="collapsed">
                                    <a routerLink="/emp-login">
                                     
                                      <i class="fa-solid fa-code-branch"></i>
                                      
                                      Employee Login</a>
                                  </li>
                                   -->
      <li data-toggle="collapse" data-target="#branches" class="collapsed">
        <a routerLink="/branches">

          <i class="fa-solid fa-code-branch"></i>

          Branches</a>
      </li>
      <li data-toggle="collapse" data-target="#customers" class="collapsed">
        <a routerLink="/employee">

          <i class="fa-solid fa-code-branch"></i>
          Employees </a>
      </li>
      <li data-toggle="collapse" data-target="#rooms" class="collapsed">
        <a routerLink="/all-rooms">

          <i class="fa-regular fa-door-open"></i>
          Rooms</a>
      </li>

      <li data-toggle="collapse" data-target="#customers" class="collapsed">
        <a routerLink="/all-customers">

          <i class="fa-solid fa-code-branch"></i>
          Customers </a>
      </li>
      <li data-toggle="collapse" data-target="#customers" class="collapsed">
        <a routerLink="/all-booking">

          <i class="fa-solid fa-code-branch"></i>
          Bookings</a>
      </li>
      <li data-toggle="collapse" data-target="#customers" class="collapsed">
        <a href="#">

          <i class="fa-solid fa-code-branch"></i>
          Payments </a>
      </li>
      <li data-toggle="collapse" data-target="#testimonials" class="collapsed">
        <a routerLink="/testimonials">

          <i class="fa-solid fa-code-branch"></i>
          Testimonials </a>
      </li>

    </ul>
  </div>
</div>