.profile-header {
    // margin-right: 50px;
   
    margin-top: 30px;
    // margin-bottom: 10px;
}


// 
.modal.fade .modal-dialog {
    transform: translate3d(0,15%,0);
}

.btn-primary {
    color: #fff;
    background-color: #fea116;
    border-color: #fea116;
}