<div class="page-wrapper">
  <div class="content container-fluid px-0">
    <div class="page-header py-md-2">
      <div class="row align-items-center">
        <div class="col">
          <div class="mt-5">
            <h4 class="card-title float-left ml-3 mt-2">Employees</h4>
            <a class="btn btn-primary float-right veiwbutton" routerLink="/add-employee">Add Employees</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid px-0">
      <div class=" card py-md-2">
        <div class="row">
          <div class="col-md-3">
            <input type="text" placeholder="Filter" class="form-control" #filterInput
              (input)="filterTable(filterInput.value)">
          </div>
        </div>
        <table class="table table-striped  ">
          <thead>
            <tr>
              <th (click)="sortTable('emp_name')">Emp Name</th>
              <th (click)="sortTable('emp_email')">Emp Email</th>
              <th (click)="sortTable('contact_no')">Contact No</th>
              <th (click)="sortTable('address')">Address</th>
              <th (click)="sortTable('gender')">Gender</th>
              <th (click)="sortTable('dob')">Date of Birth</th>
              <th (click)="sortTable('emp_id')">EmpId</th>
              <th (click)="sortTable('branch_code')">Branch Code</th>
              <th (click)="sortTable('branch_name')">Branch Name</th>
              <th (click)="sortTable('roll_name')">Roll Name</th>
           
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of getPaginatedData()">
              <td>{{ row.emp_name }}</td>
              <td>{{ row.emp_email }}</td>
              <td>{{ row.contact_no }}</td>
              <td><span class="hide-text">{{row.address }}</span></td>
              <td>{{ row.gender }}</td>
              <td>{{ row.dob }}</td>
              <td>{{ row.emp_id}}</td>
              <td>{{ row.branch_code}}</td>
              <td>{{ row.branch_name}}</td>
              <td>{{ row.roll_name}}</td>
            
              <td><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;&nbsp;<i class="fa fa-pencil-square-o"
                  aria-hidden="true"></i>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-md-12" style="text-align-last: right;">
            <div class="  " style="margin: auto;">
              <div class="pagination">
                <button class="btn btn-link" [disabled]="currentPage === 1" (click)="setPage(currentPage - 1)"> <span
                    aria-hidden="true">&laquo;</span></button>
                <span>{{ currentPage }}</span>
                <button class="btn btn-link" [disabled]="currentPage === getTotalPages()"
                  (click)="setPage(currentPage + 1)"> <span aria-hidden="true">&raquo;</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->