img {
    width: 200px;
    height: 100px;
  
    border: 1px solid #bfbfbf;
  }
    .btn-primary {
        background-color: #fea116;
        border-color: #fea116;
        // color:#fea116
      }
     