.btn-primary{
    color:#ffff;
    background-color: #FEA116;
    border-color: #FEA116;
}
.page-wrapper {
    // margin-left: 265px;
    padding-top: 85px;
    position: relative;
    transition: all .4s ease;
    background-color: #f2f5fa;
}