.btn-primary {
    color: #fff;
    background-color: #fea116;
    border-color:#fea116;
}
.card-table .table td  {
    border-top: 1px solid #e2e5e8;
    padding: 1rem 0.75rem;
    white-space: nowrap;
}
.table.table-center td{
    vertical-align: middle;
}

.table {
    font-size: 14px;
}
.page-wrapper {
         padding-top: 0px!important;
}