<p>forgot-password works!</p>
<div class="main-wrapper login-body">
    <div class="login-wrapper">
        <div class="container">
            <div class="loginbox">
                <div class="login-left"> <img class="img-fluid" src="assets/img/profiles/thecinco1.png" alt="Logo"> </div>
                <div class="login-right">
                    <div class="login-right-wrap">
                        <h1>Forgot Password?</h1>
                        <p class="account-subtitle">Enter your email to get a password reset link</p>
                        <form action="login.html">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Email" id="email" name="email" formControlName="email"
                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback" > Plaese Enter your email </div> 
                                <!-- <i class="bi bi-envelope-fill"></i>
                <input type="text" placeholder="Enter your email" required name="email" formControlName="email"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" >
                <span class="invalid-feedback" >email is required</span> -->
              </div>
                            
                            <div class="form-group mb-0">
                                <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
                            </div>
                        </form>
                        <div class="text-center dont-have">Remember your password? <a>Login</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>