<div class="page-wrapper">
    <div class="card accordion-body"  >
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="page-title mt-5">Add Room</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form [formGroup]="addBookingForm" (ngSubmit)="saveAddBooking()">
                        <div class="row formtype">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Branch Id</label>

                                    <input class="form-control" type="text" id="branch_id" name="branch_id"
                                        formControlName="branch_id"
                                        [ngClass]="{'is-invalid' :submitted && f.branch_id.errors}">
                                    <div *ngIf="submitted &&  f.branch_id.errors" class="invalid-feedback ">Please
                                        Enter BookingId.</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>User Id</label>

                                    <input class="form-control" type="text" id="user_id" name="user_id"
                                        formControlName="user_id"
                                        [ngClass]="{'is-invalid' :submitted && f.user_id.errors}">
                                    <div *ngIf="submitted &&  f.user_id.errors" class="invalid-feedback ">Please
                                        Enter UserId.</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Booking Date</label>
                                    <input type="text" autocomplete="off" bsDatepicker [bsConfig]="{isAnimated:true}"
                                        class="form-control datetimepicker" id="booking_date" name="booking_date" formControlName="booking_date"
                                        placeholder="booking_date" [ngClass]="{'is-invalid' : submitted && f.booking_date.errors}">
                                    <div *ngIf="submitted && f.booking_date.errors" class="invalid-feedback"> Plaese select
                                       Booking Date. </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Booked By</label>

                                    <input class="form-control" type="text" id="booked_by" name="booked_by"
                                        formControlName="booked_by"
                                        [ngClass]="{'is-invalid' :submitted && f.booked_by.errors}">
                                    <div *ngIf="submitted &&  f.booked_by.errors" class="invalid-feedback ">Please
                                        Enter Booked By.</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>CheckIn Date</label>
                                    <input type="text" autocomplete="off" bsDatepicker [bsConfig]="{isAnimated:true,dateInputFormat: 'YYYY-MM-DD'}"
                                        class="form-control datetimepicker" id="check_in" name="check_in" formControlName="check_in"
                                        placeholder="check_in" [ngClass]="{'is-invalid' : submitted && f.check_in.errors}">
                                    <div *ngIf="submitted && f.check_in.errors" class="invalid-feedback"> Plaese select
                                       CheckIn Date. </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Number Of days Booked</label>

                                    <input class="form-control" type="text" id="no_of_days" name="no_of_days"
                                        formControlName="no_of_days"
                                        [ngClass]="{'is-invalid' :submitted && f.no_of_days.errors}">
                                    <div *ngIf="submitted &&  f.no_of_days.errors" class="invalid-feedback ">Please
                                        Enter no of Days Booked.</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>CheckOut Date</label>
                                    <input type="text" autocomplete="off" bsDatepicker [bsConfig]="{isAnimated:true,dateInputFormat: 'YYYY-MM-DD'}" 
                                        class="form-control datetimepicker" id="check_out" name="check_out" formControlName="check_out"
                                        placeholder="check_out" [ngClass]="{'is-invalid' : submitted && f.check_out.errors}">
                                    <div *ngIf="submitted && f.check_out.errors" class="invalid-feedback"> Plaese select
                                       CheckOut Date. </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Payment Method</label>
                                    <select class="form-control form-control-lg" id="payment_method" name="payment_method"
                                        formControlName="payment_method"
                                        [ngClass]="{'is-invalid' : submitted && f.payment_method.errors}">
                                        <option>Credit Card</option>
                                        <option>Debit Card</option>
                                        <option>Cash</option>
                                    </select>
                                   
                                    <div *ngIf="submitted && f.payment_method.errors" class="invalid-feedback">Plaese select
                                        payment method</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>RoomId</label>

                                    <input class="form-control" type="text" id="room_id" name="room_id"
                                        formControlName="room_id"
                                        [ngClass]="{'is-invalid' :submitted && f.room_id.errors}">
                                    <div *ngIf="submitted &&  f.room_id.errors" class="invalid-feedback ">Please
                                        Enter room id.</div>
                                </div>
                            </div>
                            <!-- <div class="col-md-4">
                            <div class="form-group">
                                <label>AC/NON-AC</label>
                                <select class="form-control form-control-lg" id="type_room" name="type_room" formControlName="type_room"
                                [ngClass]="{'is-invalid' : submitted && f.type_room.errors}">
                                   
                                    <option>AC</option>
                                    <option>NON-AC</option>
                                </select>
                               
                                <div *ngIf="submitted && f.type_room.errors" class="invalid-feedback">Plaese select Room Type</div>
                            </div>
                        </div> -->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Room Type</label>
                                    <select class="form-control form-control-lg" id="room_type" name="room_type"
                                        formControlName="room_type" [ngClass]="{'is-invalid' : submitted && f.room_type.errors}">
                                        <!-- <option>Select</option> -->
                                        <option>Delux</option>
                                        <option>Standard</option>
                                        <option>Suite</option>
                                        
                                    </select>
                                    <div *ngIf="submitted && f.room_type.errors" class="invalid-feedback">Plaese select Room Type.</div>
                                 </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Number of People</label>
                                    <select class="form-control form-control-lg" id="no_of_people" name="no_of_people"
                                        formControlName="no_of_people"
                                        [ngClass]="{'is-invalid' : submitted && f.no_of_people.errors}">
                                        <!-- <option>Select</option> -->
                                        <option>1</option>
                                        <option>2</option>                                                       
                                    </select>
                                  
                                    <div *ngIf="submitted && f.no_of_people.errors" class="invalid-feedback">Plaese select
                                        Number Of persons</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Number of Rooms</label>
                                    <select class="form-control form-control-lg" id="no_of_rooms" name="no_of_rooms"
                                        formControlName="no_of_rooms"
                                        [ngClass]="{'is-invalid' : submitted && f.no_of_rooms.errors}">
                                        <!-- <option>Select</option> -->
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>                                                       
                                    </select>
                                  
                                    <div *ngIf="submitted && f.no_of_rooms.errors" class="invalid-feedback">Plaese select
                                        Number Of Rooms</div>
                                </div>
                            </div>                         
                            
                        </div>
                        <button type="submit" class="btn btn-primary buttonedit ml-2 mb-5">Save</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
