    <div class="main-wrapper login-body login_class">
		<div class="login-wrapper">
    <div class="container">
        <div class="loginbox login_pswd">
            <div class="login-right">
                <div class="login-right-wrap mb-5 mt-5">
                    <h1>Change Password</h1>
                    <form action="login.html" [formGroup]="changePasswordForm" (ngSubmit)="saveChangePassword()">
                        <div class="form-group mt-5">
                            <label>OLD PASSWORD</label>
                            <input class="form-control" type="text" placeholder="Password" id="old_pass" name="old_pass" formControlName="old_pass" 
                            [ngClass]="{'is-invalid' :submitted && f.old_pass.errors}"> 
                            <div *ngIf="submitted &&  f.old_pass.errors" class="invalid-feedback ">Please Enter Your Previous Password.</div>
                        </div>
                        <div class="form-group">
                            <label>NEW PASSWORD</label>
                            <input class="form-control" type="text" placeholder="Password" id="new_pass" name="new_pass" formControlName="new_pass" 
                            [ngClass]="{'is-invalid' :submitted && f.new_pass.errors}"> 
                            <div *ngIf="submitted &&  f.new_pass.errors" class="invalid-feedback ">Please Enter New Password.</div> </div>
                        <div class="form-group">
                            <label>CONFIRM PASSWORD</label>
                            <input class="form-control" type="text" placeholder="Password" id="confirm_pass" name="confirm_pass" formControlName="confirm_pass" 
                            [ngClass]="{'is-invalid' :submitted && f.confirm_pass.errors}"> 
                            <div *ngIf="submitted &&  f.confirm_pass.errors" class="invalid-feedback ">Confirm Your New Password. </div> </div>
                        <div class="form-group mt-5">
                            <button class="btn btn-primary btn-block" type="submit" routerLink="/login">Update Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div></div>